// Utility Classes

.btn-1 {
  a {
    color: white;
    background-color: $color-highlight;
    padding: 0.8rem;
    border-radius: 5px;
    display: block;
    width: 150px;
    text-align: center;
    font-weight: 800;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: $color-dark;
      transition: 0.2s ease-in;
    }
  }
}
